---
layout: base.njk
title: "dmxruser: 404"
permalink: /404.html
---

<div class="page-404">
  <h1 class="page-title">four oh four</h1>
  <p>nothing here. maybe try the <a href="/">home page</a>?</p>
</div>
